.login-form {
    display: grid;
    justify-content: center;

    
}
.login-title {
    font-family: "Inter";
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin: 40px 0 20px 0;
}
.login-name {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    color: #00000099;
    
}
.login-input {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    background: #21212114;
    border: transparent;
    width: 443px;
    height: 54px;

    padding: 16px 12px 14px 14px;
    border-radius: 4px 4px 0px 0px;
}
.login-text {
    margin: 20px -20px 30px 0;
}
.login-under {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1.5rem;
    margin-bottom: 10px;
    
}
.login_wrap {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.login-register {
    font-weight: 500;
    font-family: "Roboto";
    font-size: 18px;
    color: #152aebcc;
    text-decoration: none;
    padding-right: 50px;
}
.login-button {
    width: 62px;
    height: 16px;
    padding: 0px 8px 0px 8px;
    
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    width: 121px;
    height: 48px;
    
    padding: 12px;
    border-radius: 50px;
    background-color: #6200ee;
    border: transparent;
    box-shadow: 0px 2px 4px 0px #00000033;

    box-shadow: 0px 1px 10px 0px #0000001f;

    box-shadow: 0px 4px 5px 0px #00000024;
    cursor: pointer;
}

.login-fb {
    font-family: "ABeeZee";
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding-right: 100px;
    
}

.login-top{
    padding: 0 100px;
}
.login-hr{
    
    color: #DEDDDC;
    border: 1px solid #DEDDDC
}
.login-error{
    color: red;
    text-align: center;
    margin-bottom: 2rem;
}