.register-form {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto";
    gap: 20px;
    
}
.register-input {
    width:  (443px);
    height: (54px);
    padding: 16px 12px 14px 14px;
    border-radius: 4px 4px 0px 0px;
    background: #21212114;
    font-weight: 400;
    font-size: 16px;    
    color: rgba(0, 0, 0,0.87);
    border: transparent;
    // margin-bottom:35px;
    
}
.register-name{
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}
.register-title{
    font-family: "Inter";
    font-weight: 400;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 50px;
    margin-top: 30px;
}
.register-main{
    margin: 0 220px;
}
.register-hr{
    color: rgba(222, 221, 220, 1);
    border: 1px solid rgba(222, 221, 220, 1);
    margin-bottom: 80px;

}
li{
    display: block;
    position: relative;
    float: left;
  
   width: 40px;
}

.register-male{
    margin: 10px 50px;
}
.register-femail{
    margin: 10px 50px;
}
.register-selector{
    height: 30.69px;
    width: 24px;
}
.register-button{
    width: 121px;
    height: 48px;
    border-radius: 50px;
    padding: 12px;
    gap: 10px;
    border: transparent;
    background-color: #6200EE;
    box-shadow: 0px 2px 4px 0px #00000033;

    box-shadow: 0px 1px 10px 0px #0000001F;
    
    box-shadow: 0px 4px 5px 0px #00000024;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    // cursor: pointer;
}
.register-dk{
    text-align: center;
    margin: 35px 0;
}

.register-p{
    color: red;
}
.register-cofirm{
    margin-top: -25px;
}