.cart-cart{
    font-family: "Inter";
    padding: 0 50px;
}
.cart-header{
    padding: 50px 0;
}
.cart-title{
    font-size: 40px;
    font-weight: 400;
    color: #000000;
}
.cart-hr{
    border: 1px solid #DEDDDC
}
.cart-thead{
    background-color: #D9D9D9;
    
}
.cart-table{
    padding-bottom: 80px;
}


