.header {
  height: 5rem;
  background-color: #000000;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  padding: 0 2.5rem;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-left-search,
.header-left-cart {
  display: flex;
  align-items: center;
}
.header-left-author {
  gap: 1rem;
   a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
  }
}

.nav{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem 2.5rem;
  a{
    color: #000;
    text-decoration: none;
    font-weight: 300;
    
  }
  .active{
      font-weight: 400;
    }
  
}