.card{
    max-width: 34rem;
    min-height: 37rem;
    background-color: #f8f8f8;
    box-shadow: 0 0.4rem 0.4rem 0 #00000040;
    display: flex;
    flex-direction: column;
}
.img{
    max-width: 21rem;
    max-height: 17rem;
    margin: 0 auto;
}
.content{
    padding: 1rem 1rem;
}
.title{
    font-family: 'Inter';
    font-size: 2.4rem;
    font-weight: 300;
    text-align: left;
    color: #000000;
    padding: 0 1rem;
    
}
.desc{
    font-family: "Inter";
    font-size: 2rem;
    font-weight: 300;
    color:#cbc9c9;
    padding: 0 1rem;
}
.action{
    height: 6.5rem;
    display: flex;
    align-items: center;
    margin-top: auto;
}.action-buy,.action-price{
    text-align: center;
    
    
    width: 100%;
    height: 100%;
   line-height: 6.4rem;
   text-decoration: none;
   font-size: 2.4rem;
}
.action-buy{
    
    background-color:#9de167;
    
    
}
.action-price{
    
    background-color: #dedddc;
    font-weight: 600;
    
}
