.heading {
    font-family: "Inter";
    font-size: 4rem;
    font-weight: 400;
    width: 70rem;
    color: #fff;
    padding: 1rem 2.5rem;
    background: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);

}