.detail-product{
    padding: 50px 0 40px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    font-family: "Inter";
    margin: 0 45px;

    
}
.image-detail{
    text-align: center;
}
.content{
    margin-left: 80px;
}
.content-name{
    font-weight: 300;
    font-size: 30px;
    line-height: 36.31px;
    color: #000000;
    margin: 15px 0;
}
.content-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #140101;
}
.content-size{
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
    color: #1ED90E;
    margin: 10px 0;
}
.content-button{
    width: 50px;
    height: 50px;
    background-color: #CCCCCC;
    border: 1px;
    margin-right:10px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    color: #1E1D1D;
    cursor: pointer;
}
.content-price{
    font-weight: 600;
    font-size: 30px;
    color: #FC0303;
    margin: 15px 0;
}
.content-cart{
    width: 50px;
    height: 50px;
    background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
border: transparent;
font-size: 30px;
font-weight: 400;
color: #FFFCFC;
}
.content-quality{
    font-size: 30px;
    font-weight: 400;
    color: #000000;
margin: 0 20px;
display: inline;
}
.content-buy{
    width: 175px;
    height: 64px;
    background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
    border: transparent;
    font-weight: 500;
    font-size: 24px;
    color: #FFF8F8;
    margin: 20px 0;
    cursor: pointer;
}
.product-title{
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    text-align: center;
    padding-bottom: 50px;
}
