.footer-footer{
    display: flex;
   justify-content: center;
   gap: 110px;
    padding: 25px 80px;
    align-items: center;
    font-family: "Inter";
}
.footer-name{
font-weight: 700;
font-size: 20px;
color: #000000;

}
.footer-brand{
    display: grid;
    a{
        text-decoration: none;
         font-size: 16px;   
         font-weight: 600;
         color: #000000;

    }
    li{
        margin: 5px 0;
    }
}
.footer-content{
    padding: 0px 60px 30px 60px;
}
.footer-boder{
    border-left: solid 1px #DEDDDC;
}
.footer-reserved{
    display: flex;
   justify-content: center;
   font-size: 20px;
   color: #000000;
   background-color: #D9D9D9;

}
